/* 
    Created on : 30-nov-2020, 21:05:13
    Author     : Bluewalk
*/

#datos{
    height: 20%;
    width: 80%;
    position: relative;
    left: 10%;
    border: 5px solid #54AFFF;
    border-radius:  0 160px 5px;
    border-top: 0;
    border-left: 0;
    padding-left: 10%;
}

h3 {
    font-size: 2.3vw;
    margin-top: 5px;
}

h4{
    font-size: 1.2vw;
}

.botones{
    height: 20%;
    width: 90%;
    position: relative;
    margin-bottom: 10px;
}

.botones form{
    display: inline-block;
}
.botonEnvio{
    width: 12vw !important; 
}

a:nth-of-type(1) .botonEnvio{
    width: 7vw !important; 
}
a:nth-of-type(3) .botonEnvio{
    width: 12vw !important; 
}

.botonEnvio{
    border: 2px solid #54afff !important;
    top: 0px !important;
    margin-top: 10px;
}
#idiomas{
    position: relative;
    top: 25px;
    margin-bottom: 20px;
}

.campos{
    margin-top:25px;
}

a {
    position: absolute !important;
    padding-top: 2%;
}

.boton {
    top: 75px !important;
}

.botonSend a{
    padding-top: 0.1vw !important;
}

.botonEnvio{
    padding: 0px !important;
    height: 34px !important;
}

.git{
    top:0px!important;
}

footer{
    /*height: 4vw;*/
}

footer a{
    padding-top: 1%;
}

