/* 
    Created on : 18-nov-2020, 21:29:58
    Author     : Bluewalk
*/

a {
    /*top: 1.9vh !important;*/
}

.botonSend{
    top: 20px !important;
}
.botonSend a,.botonSend input{
    top: 0px !important;

}

.campos{
    width: 36vw;
}
.campos:nth-of-type(1){
    margin-top:25px;
}


.botonSend a{
    position: absolute !important;
    padding-top: 3px !important;
}

.botonSend a:nth-of-type(1){
    margin-left: 5px;
}

.botonSend{
    left: 15%;
    top: 2% !important;
}

.botonEnvio{
    padding: 0px !important;
    height: 34px !important;
}



#form .descript{
    display: grid !important;
    height: 12.5vw !important;
    min-height: 41vh;
}

#form .campos:nth-of-type(2) input{
    width: 30vw;
}

.error{
    display: inherit;
}

#form{
    width: 60% !important;
    left: 20% !important;
    min-height: 41vh;
}
@media only screen and (min-height: 200px) {
    #form{
        min-height: 58vh !important;
    }

}


/*a:nth-of-type(2){
    width: 26% !important;
    position: relative;
    left:30%;
}*/

.campos:nth-of-type(1) input{
    width: 150px !important;
}
.campos:nth-of-type(3) input{
    width: 160px !important;
}
.campos:nth-of-type(4) input{
    width: 60px !important;
}

#close{
    display: inline-flex;
    /* position: absolute;
     left: 85%;
     top:40%;*/
}

#close button:nth-of-type(1){
    left: 5vw;
}

#close button:nth-child(2){
    left: 65vw;
}

#close button{
    width: 190px;
    height: 40px !important;

}

#delete button{
    width: 200px;
    left: 40%;
}

footer{
    height: auto!important;
}
